.had{
    font-size: 30px;
    padding-left: 80px;
    padding-top: 10px;
}
.have{
    display: flex;
    justify-content: end;
    gap: 50px;
    font-size: 25px;
    padding-top: 10px;
    padding-right: 100px;
}
.section-had{
    font-size: 100px;
    font-weight: 20px;
    text-align: center;
    padding: 20px;
}
.section-have{
    font-size: 25px;
    color: rgb(128, 128, 129);
    font-weight: 10px;
    text-align: center;
    padding: 20px;
}
.section-hader{
    text-align: center;
    color: white;
    background-color: rgb(255, 138, 5);
    font-size: 30px;
    border-radius: 20px;
    border: 1px solid white;
}
.tete{
    width: 900px;
    height: 500px;
    padding: 50px;
    padding-left: 15%;
}
.hader{
    background-color: rgb(252, 233, 237);
}

.meta-sub{
    display: grid;
    grid-template-columns: repeat(2.1fr);
    
}
.img{
    max-width: 600px;
    max-height: 400px;
    padding: 50px;
}