.hader{
    font-size: 25px;
    font-weight: 10px;
    gap: 50px;
    margin-top: 50px;
    padding: 0px 40px;
}

.had{
    font-size: 25px;
    font-weight: 10px;
    display: flex;
    justify-content: end;

    /* margin-right: 50px;
    padding: 10px 5px; */
}
.have{
    display: flex;
    gap: 35px;
    padding: 0px 40px;
}
.hop{
     margin-top: 30px;
}
.contact{
    /* background-color: rgb(248, 248, 248); */
    display: flex;
   margin-right: 50px;
}
.container{
    font-size: 40px;
    font-weight: 10px;
    padding: 0px 40px;
    margin-top: 140px;
}
.contact-me{
    font-size: 20px;
    font-weight: 5px;
    margin-right: 100px;
    padding: 0px 40px;
}
.contact-us{
    font-size: 15px;
    background-color: palevioletred;
    border-radius: 20px;
    margin-left: 40px;
}
.contact-one{
    margin-top: 70px;
    border-radius: 100%;
    border: 1px solid rgb(221, 218, 218);
    background-color: rgb(233, 236, 238);
}


/* ---------- */
.select{
    justify-content: center;
    border: 1px solid rgb(221, 218, 218);
    background-color: rgb(245, 247, 247);
    display: flex;
    gap: 50px;
    margin: 80px;
    padding: 20px;
}

.section-ot{
    font-size:35px ;
    text-align: center;
    margin-top: 50px;
}
/*section items*/
.section{
    background-color:rgb(240, 236, 236) ;
}

.section-1{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.course-1{
   background-color: white;
   border-radius: 20px;
}
.course-2{
    padding: 20px;
    
}

.course-3{
    font-size: 25px;
    font-weight: 10px;
    padding-left: 15px;
    

}
.course-4{
    font-size: 18px;
    font-weight: 10px;
    color: rgb(116, 116, 153);
    padding-left: 15px;
    

}
.course-5{
    font-size: 18px;
    font-weight: 10px;
    color: rgb(116, 116, 153);
    padding-left: 15px;
    padding-bottom: 15px;
}

.fa-solid{
    color: gold;
    font-size: 15px;
    padding-left: 15px;   
}


/*meta*/

.meta-course{
    display: flex;
    padding: 80px;
    gap: 80px;
}
.meta-course-1{
    font-size: 40px;
    font-weight: 10px;
}
.meta-course-2{
    font-size: 20px;
    font-weight: 10px;
    color: rgb(105, 102, 102);
}
.meta-course-3{
    font-size: 20px;
    font-weight: 10px;
    padding:5px 20px 5px 20px;
    color: white;
    background-color: rgb(219, 14, 116);
    border: 1px solid rgb(219, 14, 116);
}

.set-1{
    text-align: center;
    background-color: rgb(2, 2, 37);
    padding-top: 20px;
    padding-bottom: 20px;
}
.set-2{
    color: white;
    font-size: 30px;
}
.set-3{
    color: white;
}
.set-5{
    gap: 50px;
}